@page "/perfil/list"

<PageTitle>Perfil</PageTitle>
<h3>Administrar Perfil</h3>

<a href="@($"/perfil/create")" class="btn btn-success">Novo Perfil</a>
<br />
<div class="row">
    <div class="col">
        @if (Perfis.Count() == 0)
        {
            <div class="row">
                <span><b>Não há perfil cadastrado!</b></span>
            </div>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Perfis)
                    {
                        <tr>
                            <td>@item.Nome</td>
                            <td>
                                <a href="@($"perfil/details/{item.Id}")" class="btn btn-outline-primary">Detalhar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>
