
<EditForm Model="Model" OnValidSubmit="OnValidateSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="login">Login</label>
        <InputText Id="login" Class="form-control" @bind-Value="Model.Login" />
        <ValidationMessage For="@(() => Model.Login)" />
    </div>
    <div class="form-group">
        <label for="senha">Senha</label>
        <InputText Id="password" type="password" Class="form-control" @bind-Value="Model.Senha" />
        <ValidationMessage For="@(() => Model.Senha)" />
    </div>
    <div class="text-center pt-1 mb-3 pb-1">
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary bg-gradient mb-3"> <i class="fa-solid fa-right-to-bracket"></i> Entrar</button>
            </div>
            <div class="col">
                <a @onclick="@GoToLNovaConta" class="btn btn-outline-primary">Criar Conta</a>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(_mensagem))
    {
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="text-center pt-1 mb-3 pb-1">
                    <div class="alert alert-danger" role="alert">
                        @_mensagem
                    </div>
                </div>
            </div>
        </div>
    }
</EditForm>


