@layout LoginLayout
@page "/"
@rendermode InteractiveServer

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card-body p-md-5 mx-md-4">
            <div class="text-center pt-1 mb-3 pb-1">
                <i class="fa-solid fa-user fa-beat fa-2xl" style="color:blueviolet"></i>
            </div>
            <Formulario Model="LoginVM" OnValidateSubmit="FazerLogin" />

        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Error))
{
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="text-center pt-1 mb-3 pb-1">
                <div class="alert alert-danger" role="alert">
                    @Error
                </div>
            </div>
        </div>
    </div>
}
